*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

/* UTILITY */
.flex{
    display: flex
}

.button{
    border: none;
}

.lightblue-bg{
    background-color: #9acfe9;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
}

.white-button{
    color: black;
    background-color: white;
}

.highlight{
    border: 2px solid black;
}

/* GENERAL RULES */
.nav-area{
    height: 100%;
}

.nav-area div{
    height: 100%;
    flex-basis: auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

