*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

/* UTILITY */
.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container2{
    width: 50%;
    margin: 0 auto;
}

.flex{
    display: flex
}

.button{
    border: none;
}

.lightblue-bg{
    background-color: #b4d0e7;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
}

.white-button{
    color: black;
    background-color: white;
}

.lightblue-button{
    background-color: #b4d0e7;
}

.highlight{
    border: 2px solid black;
}

/* GENERAL RULES */
.nav-area{
    height: 100%;
}

.nav-area div{
    height: 100%;
    flex-basis: auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

/* MAIN RULES */

main .first-section{
    width: 100%;
    height: 600px;
}

.first-section .title-container{
    width: 100%;
    
    /* height: 30%; */
    /* border: 2px solid red; */
}

.title-container h1{
    font-size: 3rem;
    
    padding: 1rem 5rem 1rem 0;
}
.first-section .jumbo-paragraph-container{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
}

.jumbo-paragraph-container .paragraph-container{
    flex-basis: 40%;
    height: 100%;
    /* border: 2px solid magenta; */
}

/* .jumbo-paragraph-container .jumbo-container{

    flex-basis: 60%;
    height: 100%;
    border: 2px solid magenta;
} */

.jumbo-container img{
    flex-basis: 60%;
    
}

.paragraph-container p{
    margin-bottom: 2rem;
}

.paragraph-container .blue-button{
    margin-bottom: 1rem;
}

.first-section{
    position: relative;
}

.paragraph-container i{
    position: absolute;
    
    left: 0;
}

.subscriptions{
    width: 100%;
    height: 1000px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.enterprise{
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.partner-container{
    width: 100%;
    height: 500px;

    margin-bottom: 50px;
}

.partner-image-container{
    flex-basis: 60%;
    height: 100%;

    border: 2px solid red;
    
}

.partner-description-container{
    flex-basis: 40%;
    height: 100%;

    border: 2px solid red;
}

.operations{
    width: 100%;

    flex-wrap: wrap;
    margin-bottom: 50px;

}

.operation{
    flex-basis: calc(100% / 3);

    height: 300px;

    border: 2px solid magenta;
}

.dropbox-business{
    width: 100%;
}

.partners-logos{
    width: 100%;
    height: 500px;
}

.logos-container{
   flex-basis: calc(100% / 3);
   flex-wrap: wrap;
    height: 100%;


    border: 2px solid red;
}

.logo{
    flex-basis: calc(100% / 2);
    height: 50%;

    border: 2px solid greenyellow;
}

.free-trial{
    width: 100%;
    padding: 5rem 0;
    justify-content: space-around;
}

.frequently-asked{
    width: 100%;
    height: 500px;

    justify-content: center;
    align-items: center;
}

.questions-box{
    flex-basis: 50%;
    height: 50%;
}

footer{
    width: 100%;
    
    background-color: black;

    align-items: center;

    color: white;

    padding: 6rem 0;
}

footer .container{
    align-items: center;  
    height: 100%;
}

.lists-container{
    width: 100%;
    height: 300px;

    border: 2px solid white;
    margin-bottom: 3rem;
}

.lists-container ul{
    list-style-type: none;
    flex-basis: calc(100% / 5);
    border: 1px solid grey;
}


.language-container{
    height: 3rem;
    line-height: 3rem;

    border-top: 1px solid white;
}
