*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

.buy-now a{
    color:#0061ff;
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

/* UTILITY */
.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container2{
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
}

.flex{
    display: flex
}

.button{
    border: none;
}

.lightblue-bg{
    background-color: #b4d0e7;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
}

.white-button{
    color: black;
    background-color: white;
}

.lightblue-button{
    background-color: #b4d0e7;
}

.highlight{
    border: 2px solid black;
}

.text-gray{
    color: rgb(170, 170, 170);
}

/* GENERAL RULES */
.nav-area{
    height: 100%;
}

.nav-area div{
    height: 100%;
    flex-basis: auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

/* MAIN RULES */

main .first-section{
    width: 100%;
    height: 600px;
}

.first-section .title-container{
    width: 100%;
    
    /* height: 30%; */
    /* border: 2px solid red; */
}

.title-container h1{
    font-size: 3rem;
    
    padding: 1rem 5rem 1rem 0;
}
.first-section .jumbo-paragraph-container{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
}

.jumbo-paragraph-container .paragraph-container{
    flex-basis: 40%;
    height: 100%;
    /* border: 2px solid magenta; */
}

/* .jumbo-paragraph-container .jumbo-container{

    flex-basis: 60%;
    height: 100%;
    border: 2px solid magenta;
} */

.jumbo-container img{
    flex-basis: 60%;
    
}

.paragraph-container p{
    margin-bottom: 2rem;
}

.paragraph-container .blue-button{
    margin-bottom: 1rem;
}

.first-section{
    position: relative;
}

.paragraph-container i{
    position: absolute;
    
    left: 0;
}

.subscription-section h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.subscriptions{
    width: 100%;
    /* height: 1000px; */
    justify-content: space-between;
    margin: 2rem 0;
}

.singolo, .team, .azienda{
    flex-basis: calc(100% / 3 - 20px);
    border: 1px solid black;
    padding: 0 1rem 1rem 1rem;
}

.info-subscription{
    padding: 2rem 0;
}

.subscriptions h3{
    padding-top: 1rem;
}

.type-subscription{
    padding: .5rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.enterprise{
    width: 100%;
    margin-bottom: 50px;
}

div.enterprise div.info-subscription, div.enterprise div.call-to-action{
    flex-basis: 50%;
    padding: 0;
    
}
/* RIPRENDERE QUI, STAVO CONTINUANDO LA SEZIONE ENTERPRISE, HO MESSO IN FLEX IL CONTENITORE, AGGIUNGERE TESTO */
div.enterprise h3{
    padding: 1rem 0;
}
div.enterprise .info-subscription{
    text-align: left;
}

div.enterprise .contact-text{
    margin-bottom: 3rem;
}

.partner-container{
    width: 100%;

    margin-bottom: 50px;
}

.partner-image-container{
    flex-basis: 60%;

    border: 2px solid red;
    
}

.partner-image-container img{
    width: 100%;
    height: 100%;
}

.partner-description-container{
    flex-basis: 40%;
    border: 2px solid red;
}

.partner-description-container button{
    border: 1px solid black;
    padding: .5rem 1.5rem;
}

.operations{
    width: 100%;

    flex-wrap: wrap;
    margin-bottom: 50px;

}

.operation{
    flex-basis: calc(100% / 3);

    height: 300px;

    border: 2px solid magenta;
}

.dropbox-business{
    width: 100%;
}

.partners-logos{
    width: 100%;
    height: 500px;
}

.logos-container{
   flex-basis: calc(100% / 3);
   flex-wrap: wrap;
    height: 100%;


    border: 2px solid red;
}

.logo{
    flex-basis: calc(100% / 2);
    height: 50%;

    border: 2px solid greenyellow;
}

.free-trial{
    width: 100%;
    padding: 5rem 0;
    justify-content: space-around;
}

.frequently-asked{
    width: 100%;
    height: 500px;

    justify-content: center;
    align-items: center;
}

.questions-box{
    flex-basis: 50%;
    height: 50%;
}

footer{
    width: 100%;
    
    background-color: black;

    align-items: center;

    color: white;

    padding: 6rem 0;
}

footer .container{
    align-items: center;  
    height: 100%;
}

.lists-container{
    width: 100%;
    height: 300px;

    border: 2px solid white;
    margin-bottom: 3rem;
}

.lists-container ul{
    flex-basis: calc(100% / 5);
    border: 1px solid grey;
}


.language-container{
    height: 3rem;
    line-height: 3rem;

    border-top: 1px solid white;
}
