*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 100%;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

.buy-now a, .dropbox-business a{
    color:#0061ff;
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

/* UTILITY */
.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container2{
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
}

.flex{
    display: flex;
    /* flex-shrink: 0; */
}

.button{
    border: none;
    padding: .7rem 1rem;
}

.lightblue-bg{
    background-color: #b4d0e7;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    
}

.white-button{
    color: black;
    background-color: white;
}

.lightblue-button{
    background-color: #b4d0e7;
}

.highlight{
    border: 2px solid black;
}

.text-gray{
    color: rgb(170, 170, 170);
}

.padding-left{
    padding-left: 1rem;
}

.bordeaux-bg{
    background-color: #61082b;
}

.lightgreen-bg{
    background-color: #a2d39b;
    border: 1rem solid #c7f9c1;
}

.azure-bg{
    background-color: #0093ce;
}

.lightred-bg{
    background-color: #ff1c1c;
}

.red-bg{
    background-color: #d5001f;
}

.blue-bg{
    background-color: #0d2481;
}

.yellow-bg{
    background-color: #ffd830;
}
/* GENERAL RULES */
.nav-area .nav-item{
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

/* MAIN RULES */

main .first-section{
    width: 100%;
    height: 600px;
}

.first-section .container{
    position: relative;
    top: 4rem;
    overflow-y: visible;
}

.first-section .title-container{
    width: 100%;
}

.title-container h1{
    font-size: 4rem;
    font-weight: 800;
    
    padding: 1rem 5rem 1rem 0;
}
.first-section .jumbo-paragraph-container{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
}

.jumbo-paragraph-container .paragraph-container{
    flex-basis: 40%;
    height: 100%;
}

.jumbo-container img{
    flex-basis: 60%;
    
}

.paragraph-container{
    font-size: .9rem;
}

.paragraph-container p{
    margin-bottom: 2rem;
}

.paragraph-container .blue-button{
    margin-bottom: 1rem;
    display: block;
}

.paragraph-container i{
    position: absolute;
    
    left: 0;
    bottom: 15%;
}

/* SECOND SECTION */
.subscription-section label{
    margin-right: 1.5rem;
}
.subscription-section h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.subscriptions{
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.singolo, .team, .azienda{
    flex-basis: calc(100% / 3 - 20px);
    border: 1px solid rgb(170, 170, 170);
}

.info-subscription{
    padding: 2rem 0;
}

.subscriptions h3{
    padding: 2rem 0 1rem;
}

.subscriptions .price{
    font-size: .9rem;
    font-weight: bold;
    padding-bottom: .6rem;
}

.type-subscription{
    padding: .5rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.subscriptions ul{
    font-size: .9rem;
    padding-right: 2rem;
}

.subscriptions ul li{
    padding: .5rem 0;
}

.subscriptions .button{
    width: 80%;
    margin: 0 10%;
}

.buy-now{
    padding: 1rem 0 .5rem 1rem;
}

.subscription-highlight i{
    color: #0061ff;
}

.subscriptions h4{
    padding-top: 1rem;
}

.enterprise{
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid rgb(170, 170, 170);
}

div.enterprise div.info-subscription, div.enterprise div.call-to-action{
    flex-basis: 50%;
    padding: 0;
    
}

div.enterprise h3{
    padding-bottom: 1rem;
}
div.enterprise .info-subscription > *{
    text-align: left;
    padding: 1rem;
}

div.enterprise .contact-text{
    padding-bottom: 2rem;
}

.call-to-action{
    justify-content: flex-end;
    align-items: start;
}

div.enterprise .call-to-action button{
    margin-top: 1rem;
    margin-right: 1rem;
}

.partner-container{
    width: 100%;

    margin-bottom: 50px;
}

.partner-image-container{
    flex-basis: 60%;
}

.partner-image-container img{
    width: 100%;
    height: 100%;
}

.partner-description-container{
    flex-basis: 40%;
    padding: 1.5rem;
    font-size: 1.3em;
}

.partner-description-container > *{
    padding-bottom: 1rem;
}

.partner-description-container button{
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border: 1px solid black;
}

.operation-section h2{
    font-weight: 700;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.operations{
    width: 100%;

    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-between;

}

.operation{
    flex-basis: calc(100% / 3 - 2rem);
    padding: .5rem 0;
}

.description-operation{
    padding: 2rem 0;
}

.operation h3{
    padding: .5rem 0;
}

.operation p{
    font-size: .9rem;
}

div.operation img{
    width: 100%;
}

.dropbox-business{
    width: 100%;
    margin: 8rem 0;
}

.dropbox-business h2{
    padding: 2rem 0;
    font-weight: 700;
    font-size: 2.5rem;
}


.partners-logos{
    width: 100%;
}

.logos-container{
   flex-basis: calc(100% / 3);
   flex-wrap: wrap;
}

.logo{
    flex-basis: calc(100% / 2);
    justify-content: center;
    align-items: center;
    height: 50%;
}

div.logo img{
    width: 50%;
}

.designit-container{
    padding: 2rem 2rem 6rem;
    background-color: #f5f5f5;
    font-size: .9rem;
}

.designit-container .separator{
    padding: 1rem 0 2rem;
    color: grey;
}

.designit-container img{
    width: 65%;
}

.designit-container .quote{
    padding-bottom: 3rem;
}

.logo img:not(.designit-container img){
    filter: brightness(0) invert(1);
}

.free-trial{
    width: 100%;
    padding: 5rem 0;
    justify-content: space-around;
}

.free-trial h2{
    color: #610830;
    font-size: 2rem;
}

.frequently-asked{
    width: 100%;

    justify-content: center;
    align-items: center;
}

.questions-box{
    margin: 8rem 0;
}

.questions-box div{
    padding: 2rem 0;
    border-bottom: 1px solid rgb(170, 170, 170);
    justify-content: space-between;
    align-items: center;
}

.questions-box i{
    margin-left: 20rem;
    margin-right: 5rem;
}

.questions-box .question{
    font-weight: bold;
}

.title-questions{
    font-size: 1.7rem;
}

/* FOOTER RULES */

footer{
    width: 100%;
    
    background-color: black;

    align-items: center;

    color: white;

    padding: 6rem 0;
}

footer .container{
    align-items: center;  
    height: 100%;
}

.lists-container{
    width: 100%;
    margin-bottom: 3rem;
}

.lists-container ul{
    flex-basis: calc(100% / 5);
}

.lists-container h5{
    font-size: 1.3rem;
    padding: 1rem 0;
}

.lists-container li{
    padding: .5rem 0;
}


.language-container{
    padding: 1rem 0;
    color: gray;
}

.language-container .fa-earth-europe{
    margin-right: .2rem;
}

.language-container .fa-caret-up{
    margin-left: .2rem;
}

/* HOVER SELECTORS */

.relative{
    position: relative;
}

.blue-button:hover{
    background-color: #438bff;
} 
header div.nav-item:hover{
    border-bottom: 2px solid black;
}

.nav-item:hover .menu{
    display: inline-block;
    padding: .5rem 0;
    z-index: 1;
    position: absolute;
}

.menu{
    display: none;
    background-color: white;
    width: 15vw;
}

.menu li{
    padding: .5rem 1rem;
}

div.supporto-menu{
    background-color: white;
}

.support:hover .supporto-menu{
    bottom: -85px;
    width: 15vw;
}

.office:hover .ufficio-menu{
    bottom: -85px;
    flex-basis:auto;
}

.why-dropbox:hover div.perche-menu{
    bottom: -222px;
    min-width: 534px;
    left: -35px;
    list-style-type: none;
}

div.overview-container, div.sector-container, div.usertype-container{
    padding: 0 1rem;
}

.functions:hover div.funzioni{
   bottom: -221px;
    min-width: 460px;
    list-style-type: none;
    left: -30px;
}

/* animation */
.time-bar{
    height: .3rem;
    background-color: black;
    position: absolute;
    

    animation-name: time-bar;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes time-bar{
    0%{
        
        top: 0;
        right: 100%;
        left: 0;
    }


    100%{
        top: 0;
        right: 0;
        left: 0;
    }
}
