*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

.buy-now a, .dropbox-business a{
    color:#0061ff;
    text-decoration: underline;
}

ul{
    list-style-type: none;
}

/* UTILITY */
.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container2{
    width: 65%;
    margin: 0 auto;
    margin-top: 100px;
}

.flex{
    display: flex
}

.button{
    border: none;
    padding: .7rem 1rem;
}

.lightblue-bg{
    background-color: #b4d0e7;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    
}

.white-button{
    color: black;
    background-color: white;
}

.lightblue-button{
    background-color: #b4d0e7;
}

.highlight{
    border: 2px solid black;
}

.text-gray{
    color: rgb(170, 170, 170);
}

.padding-left{
    padding-left: 1rem;
}
/* GENERAL RULES */
.nav-area{
    height: 100%;
}

.nav-area div{
    height: 100%;
    flex-basis: auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

/* MAIN RULES */

main .first-section{
    width: 100%;
    height: 600px;
}

.first-section .container{
    position: relative;
    top: 4rem;
    overflow-y: visible;
}

.first-section .title-container{
    width: 100%;
    
    /* height: 30%; */
    /* border: 2px solid red; */
}

.title-container h1{
    font-size: 4rem;
    font-weight: 800;
    
    padding: 1rem 5rem 1rem 0;
}
.first-section .jumbo-paragraph-container{
    width: 100%;
    height: 70%;
    /* border: 2px solid red; */
}

.jumbo-paragraph-container .paragraph-container{
    flex-basis: 40%;
    height: 100%;
}

.jumbo-container img{
    flex-basis: 60%;
    
}

.paragraph-container p{
    margin-bottom: 2rem;
    font-size: .9rem;
}

.paragraph-container .blue-button{
    margin-bottom: 1rem;
    display: block;
}

.paragraph-container i{
    position: absolute;
    
    left: 0;
    bottom: 15%;
}

/* SECOND SECTION */
.subscription-section label{
    margin-right: 1.5rem;
}
.subscription-section h2{
    font-size: 2rem;
    padding: 2rem 0;
}

.subscriptions{
    width: 100%;
    /* height: 1000px; */
    justify-content: space-between;
    margin: 2rem 0;
}

.singolo, .team, .azienda{
    flex-basis: calc(100% / 3 - 20px);
    border: 1px solid rgb(170, 170, 170);
}

.info-subscription{
    padding: 2rem 0;
}

.subscriptions h3{
    padding: 2rem 0 1rem;
}

.subscriptions .price{
    font-size: .9rem;
    font-weight: bold;
    padding-bottom: .6rem;
}

.type-subscription{
    padding: .5rem 0;
    text-align: center;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.subscriptions ul{
    font-size: .9rem;
    padding-right: 1rem;
}

.subscriptions ul li{
    padding: .5rem 0;
}

.subscriptions .button{
    width: 80%;
    margin: 0 10%;
}

.buy-now{
    padding: 1rem 0 .5rem 1rem;
}

.subscription-highlight i{
    color: #0061ff;
}

.subscriptions h4{
    padding-top: 1rem;
}

.enterprise{
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid rgb(170, 170, 170);
}

div.enterprise div.info-subscription, div.enterprise div.call-to-action{
    flex-basis: 50%;
    padding: 0;
    
}
/* RIPRENDERE QUI, STAVO CONTINUANDO LA SEZIONE ENTERPRISE, HO MESSO IN FLEX IL CONTENITORE, AGGIUNGERE TESTO */
div.enterprise h3{
    padding-bottom: 1rem;
}
div.enterprise .info-subscription > *{
    text-align: left;
    padding: 1rem;
}

div.enterprise .contact-text{
    padding-bottom: 2rem;
}

.call-to-action{
    justify-content: flex-end;
    align-items: start;
}

div.enterprise .call-to-action button{
    margin-top: 1rem;
    margin-right: 1rem;
}

.partner-container{
    width: 100%;

    margin-bottom: 50px;
}

.partner-image-container{
    flex-basis: 60%;

    border: 2px solid red;
    
}

.partner-image-container img{
    width: 100%;
    height: 100%;
}

.partner-description-container{
    flex-basis: 40%;
    border: 2px solid red;
}

.partner-description-container button{
    border: 1px solid black;
    padding: .5rem 1.5rem;
}

.operations{
    width: 100%;

    flex-wrap: wrap;
    margin-bottom: 50px;

}

.operation{
    flex-basis: calc(100% / 3);

    /* height: 300px; */

    border: 2px solid magenta;
}

div.operation img{
    width: 100%;
}

.dropbox-business{
    width: 100%;
    margin: 8rem 0;
}

.dropbox-business h2{
    padding: 2rem 0;
}


.partners-logos{
    width: 100%;
    /* height: 500px; */
}

.logos-container{
   flex-basis: calc(100% / 3);
   flex-wrap: wrap;
    /* height: 100%; */


    border: 2px solid red;
}

.logo{
    flex-basis: calc(100% / 2);
    /* height: 50%; */
    justify-content: center;
    align-items: center;
    border: 2px solid greenyellow;
}

div.logo img{
    width: 50%;
    
}

.designit-container{
    padding: 2rem 2rem 6rem;
}

.designit-container .separator{
    padding: 1rem 0 2rem;
}

.designit-container img{
    width: 65%;
}

.designit-container .quote{
    padding-bottom: 3rem;
}




.free-trial{
    width: 100%;
    padding: 5rem 0;
    justify-content: space-around;
}

.free-trial h2{
    color: #610830;
}

.frequently-asked{
    width: 100%;
    /* height: 500px; */

    justify-content: center;
    align-items: center;
}

.questions-box{
    /* flex-basis: 50%; */
    /* height: 50%; */
    margin: 8rem 0;
}

.questions-box div{
    padding: 2rem 0;
    border-bottom: 1px solid gray;
}

.questions-box .question{
    font-weight: bold;
}


footer{
    width: 100%;
    
    background-color: black;

    align-items: center;

    color: white;

    padding: 6rem 0;
}

footer .container{
    align-items: center;  
    height: 100%;
}

.lists-container{
    width: 100%;
    height: 300px;

    border: 2px solid white;
    margin-bottom: 3rem;
}

.lists-container ul{
    flex-basis: calc(100% / 5);
    border: 1px solid grey;
}


.language-container{
    padding: 1rem 0;
    color: gray;
}

.language-container span{
    padding: 0 1rem;
}
