*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    width: 100%;
    height: 70px;
    justify-content: space-between;

    font-size: .8rem;
}

a{
    color: black;
    text-decoration: none;
}

/* UTILITY */
.container{
    width: 60%;
    margin: 0 auto;
    height: 100%;
}

.container2{
    width: 50%;
    margin: 0 auto;
}

.flex{
    display: flex
}

.button{
    border: none;
}

.lightblue-bg{
    background-color: #b4d0e7;
}

.blue-button{
    color: white;
    background-color: #0061ff;
    padding: .5rem 1rem;
}

.white-button{
    color: black;
    background-color: white;
}

.highlight{
    border: 2px solid black;
}

/* GENERAL RULES */
.nav-area{
    height: 100%;
}

.nav-area div{
    height: 100%;
    flex-basis: auto;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

div.logo-container{
    flex-basis: 25%;
    padding: 0;

    justify-self: center;
    align-items: center;
}

.logo-container img{
    width: 75%;
    height: 75%;
    object-fit: contain;
}

/* MAIN RULES */

main .first-section{
    width: 100%;
    height: 600px;
}

.first-section .title-container{
    width: 100%;
    padding-right: 1rem;
    height: 30%;
    border: 2px solid red;
}

.first-section .jumbo-paragraph-container{
    width: 100%;
    height: 70%;
    border: 2px solid red;
}

.jumbo-paragraph-container .paragraph-container{
    flex-basis: 40%;
    height: 100%;
    border: 2px solid magenta;
}

.jumbo-paragraph-container .jumbo-container{
    flex-basis: 60%;
    height: 100%;
    border: 2px solid magenta;
}

.subscriptions{
    width: 100%;
    height: 1000px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.enterprise{
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.partner-container{
    width: 100%;
    height: 500px;
}

.partner-image-container{
    flex-basis: 60%;
    height: 100%;

    border: 2px solid red;
    
}

.partner-description-container{
    flex-basis: 40%;
    height: 100%;

    border: 2px solid red;
}


